/*
 * This css file includes styles added in the jekyll port of this theme.
 * To find the original style.css that ships with Airspace, read airspace.css
 *
 */

 .italic {
   font-style: italic;
 }

 .bold {
   font-weight: bold;
 }

 .center-text {
   text-align: center;
 }

.post-area {
  padding: 40px;
  width: 100%;
  min-height: 150px;
  background-color: white;
  border-bottom: 1px dotted #ddd;
}

.post-area a:link, .post-area a:visited {
  font-size: 30px;
  color: #333;
}

.post-area a:hover {
  color: #0D0017;
}

/*
 * Added specifically for the UV Research Manual
 *
 */

.service-item img {
  border-radius: 50%;
  height: 82px;
  width: 82px;
}

header{
  padding-bottom: 0px;
}

header .navbar-default .navbar-nav li a {
  color: #333333;
  padding: 0px 10px 10px 15px;
  font-size: 15px;
}

header .navbar-default .navbar-nav {
  padding-top:0px;
}

.navbar-collapse{
  padding-left: 0px;
}

.navbar-brand{
  padding-bottom: 5px;
}

.uvcontent-heading {
  margin-bottom: 30px;
}

.uvcontent-heading a{
  color: #7B7B7B;
}

.uvcontent-heading a:hover{
  color: #25167A;
}

#global-header {
  background: none;
}

.fa-circle{
  color:#25167A;
}

.paragraph-footer p{
  color: #25167A;
  font-size: 13px;
}
