---
layout: page
title: UV Research Manual
permalink: /
---

<!-- Slider Start -->
<section id="slider">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-2">
        <div class="block">
          <h1 class="animated fadeInUp">UV Research Manual 
          <p class="animated fadeInUp">Ontwikkelpagina</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Wrapper Start -->
<section id="intro">
  <div class="container">
    <div class="row">
      <div class="col-md-7 col-sm-12">
        <div class="block">
          <div class="section-title">
            <h2>Over</h2>
          </div>
          <p>De UV research manual (werktitel) wordt ontwikkeld in opdracht van de Faculteit Gezondheid van de Hogeschool van Amsterdam en is bedoeld voor docent-, junior- en senior-onderzoekers, promovendi, post-docs en lectoren van het HvA-speerpunt Urban Vitality (UV) die zich bezighouden met praktijkgericht subsidie- en/of promotie-onderzoek.</p>
        </div>
      </div><!-- .col-md-7 close -->
      <div class="col-md-5 col-sm-12">
        <div class="block">
          <img src="img/ios-bulb.svg" alt="Img">
        </div>
      </div><!-- .col-md-5 close -->
    </div>
  </div>
</section>

<section id="feature">
<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-6">
      <h2>Aanpak</h2>
      <p>De ontwikkeling van de manual wordt projectmatig aangepakt volgens de <a href=https://agilescrumgroup.nl/wat-is-scrum-werken/>Scrum-methodiek</a>. Daarbij maken we gebruik van drie tools: Trello, Github en SURFdrive.</p>
      <p>In cycli (sprints) van twee maanden levert het Scrum-team delen van de manual op en plaatst deze op een voorlopige website. Een stakeholdersgroep bepaalt wat belangrijk is voor de manual: deze 'wensen' voegen zij toe aan de backlog in <a href=https://trello.com/>Trello</p>a>. In Trello kan de stakeholdersgroep zien wat er op deze backlog staat en welke wensen er in een sprint worden opgepakt. </p>
      <p>De voorlopige website is open-source en voor iedereen toegankelijk. De code staat op <a href=https://github.com/uvresearchmanual/uvresearchmanual.github.io/>Github</a> en iedereen kan in principe bijdragen aan het ontwikkelen van deze website. De hoofdstukken van de manual worden geschreven in Markdown, een lichtgewicht opmaaktaal o.b.v. platte tekst die eenvoudig te converteren is naar html en andere bestandsformaten.</p>
      <p>Interne projectdocumenten worden gedeeld met de stakeholdersgroep via <a href=https://www.surfdrive.nl/>SURFdrive</a></p>
      <!--a href="#" class="btn btn-view-works">View Works</a-->
    </div>
  </div>
</div>
</section>

<!-- Service Start -->
<section id="service">
  <div class="container">
    <div class="row">
      <div class="section-title">
        <h2>Team</h2>
        <p>Het team bestaat uit een stuurgroep, een stakeholdersgroep en een Scrumteam. Meedoen? Stuur ons een mail!</p>
      </div>
    </div>
    <div class="row ">
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <img src="img/team/wendy.jpg">
          <h4>Wendy Boerboom-Possel</h4>
          <p>Scrumteam</p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <img src="img/team/ios-person.svg">
          <h4>Gerben ter Riet</h4>
          <p>Scrumteam</p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <img src="img/team/niek.jpg">
          <h4>Niek van Ulzen</h4>
          <p>Scrumteam</p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <img src="img/team/ios-person.svg">
          <h4>XXXX</h4>
          <p>Stakeholder</p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <img src="img/team/ios-person.svg">
          <h4>XXXX</h4>
          <p>Stakeholder</p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <img src="img/team/ios-person.svg">
          <h4>XXXX</h4>
          <p>Stuurgroep</p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <img src="img/team/ios-person.svg">
          <h4>XXXX</h4>
          <p>Stuurgroep</p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <img src="img/team/ios-person.svg">
          <h4>You?</h4>
          <p>Join team?</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Content Start -->
<!--section id="testimonial">
  <div class="container">
    <div class="row">
      <div class="section-title text-center">
        <h2>Fun Facts About Us</h2>
        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        {% if site.data.funfacts.size > 0 %}
        <div class="block">
          {% for ff in site.data.funfacts %}
          <ul class="counter-box clearfix">
            <li>
              <div class="block">
                <i class="{{ ff.icon }}"></i>
                <h4 class="counter">{{ ff.counter }}</h4>
                <span>{{ ff.text }}</span>
              </div>
            </li>
            {% endfor %}
          </ul>
        </div>
        {% endif %}
      </div>
      <div class="col-md-6">
        {% if site.data.testimonials.size > 0 %}
        <div class="testimonial-carousel">
          <div id="testimonial-slider" class="owl-carousel">
            {% for tm in site.data.testimonials %}
            <div>
                <img src="img/cotation.png" alt="IMG">
                <p>{{ tm.testimonial }}</p>
                <div class="user">
                  <img src="{{ tm.image }}" alt="Pepole">
                  <p><span>{{ tm.name }}</span> {{ tm.title }}</p>
                </div>
            </div>
            {% endfor %}
          </div>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</section-->
