<!-- Header Start -->
<header>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <!-- header Nav Start -->
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ site.baseurl }}/">{{ site.title }}</a>
          </div>
        </div>
      </nav>
    </div>
    <div class="col-md-12">
      <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav navbar">
                <li><a href="{{ site.baseurl }}/qualitycare">Quality care</a></li>
                <li><a href="{{ site.baseurl }}/aanvragen">Aanvragen</a></li>
                <li><a href="{{ site.baseurl }}/starten">Starten&Organiseren</a></li>
                <li><a href="{{ site.baseurl }}/verzamelen">Data verzamelen</a></li>
                <li><a href="{{ site.baseurl }}/verwerken">Verwerken&Analyseren</a></li>
                <li><a href="{{ site.baseurl }}/doorwerking">Doorwerking</a></li>
                <li><a href="{{ site.baseurl }}/afronden">Archiveren&Afronden</a></li>
              </ul>
            </div><!-- /.navbar-collapse -->
         </div><!-- /.container-fluid -->
      </nav>
    </div>
    </div>
  </div>
</div>
</header><!-- header close -->
