---
layout: page
---

<div class="post">
  <!-- Wrapper Start -->
  <section>
    <div class="container">
      <div class="row">
        <div>
          <div class="block">
            <h1>{{ page.title }}</h1>
            <p class="italic paragraph-footer">Version: <span class="bold">{{ page.version }}</span>, status: <span class="bold">{{ page.status }}</span>. Last modified by <span class="bold">{{ page.author }}</span> on <span class="bold">{{ page.date | date: "%B %-d, %Y" }}</span>. Version control see <a href="https://github.com/mibopenscience/mibopenscience.github.io/tree/master/uvcollections/_c01toolbox" target="_blank">here</a>.</p>
            <hr />
            <p>{{ content }}</p>
          </div>
        </div><!-- .col-md-7 close -->
      </div>
      <div class="row ">
        <hr/>
        
      </div>
    </div>
  </section>
</div>

